{% extends "base.html" %}

{% block content %}
    <div id="p-mine" class="page active-page">
        </div>

    <div id="p-launcher" class="page" style="display:none;">
        </div>

    <div id="p-details" class="page" style="display:none;">
        </div>

    <div id="p-wallet" class="page" style="display:none;">
        </div>

    <div id="p-profil" class="page" style="display:none;">
        </div>

    <div id="p-lottery" class="page" style="display:none;">
        </div>

    <div id="trade-modal" style="display:none;">
        </div>
{% endblock %}
